doctype html
head
    title Welcom
    |   
    |   
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  body
  - for (var i=0; i<#{len}; i++)
            div= #{user[i]}
    table
      tr
        td #{user}
        |       
        td #{pass}
      |     
      |     
      tr
        td #{user[1]}
        |       
        td #{pass[2]}
